{% extends 'ov/base.html' %}
{% block body %}
{% load staticfiles %}


<!--Contents-->
<br>
<div class="content-wrapper" align="center">
    <form action="###">


        <div class="container">
            <div class="jumbotron col-6">
                <center><img src="{% static 'ov/Capture.PNG' %}" class="img-fluid" alt="Responsive image"></center>
                <hr>
                <center>
                    <div class="card">
                        <div class="card-body">
                            <div style="text-align: center;">
                                <label for="Registration Number"><h5>Enter your Registration Number:</h5></label>
                                <center>
                                <div class="col-8">
                                    <input type="text" placeholder="Enter your Registration Number" id="registration_number" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </center>
                        
                        <br>
                        <button type="button" class="btn btn-primary"><h5>Submit</h5></button>
                    </div>
                </center>
            </div>
        </div>

    </form>
</div>




{% endblock%}